@import url(globales.css);
@import url(header.css);
@import url(hero.css);
@import url(portfolio.css);

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1600px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.bd-grid {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 6rem;
  }
  .section-title {
    margin-bottom: var(--mb-5);
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__logo {
    color: var(--first-color-lighten);
  }

  .nav__toggle {
    display: none;
  }
  
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .project__container {
    padding: 4.5rem 1rem;
  }
  .project__icon {
    font-size: 6rem;
  }
  .project__title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
